@import '../sass/padding';

$height: 60px;
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $heightFooter;
    line-height: $heightFooter;
    background-color: #dddddd;
}

$padding: 15px;
.sticky {
    padding-right: $padding;
    padding-left: $padding;
}
